In [1]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

# Japan Earth Quack Data

In [4]:
import pandas as pd
file=pd.read_csv("japan_earthquakes_1900-2024.csv")
file.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1911-11-08T14:11:44.300Z,35.548,141.381,15.0,6.55,mw,NaN,NaN,NaN,NaN,...,2022-04-25T20:25:16.264Z,"53 km ESE of Hasaki, Japan",earthquake,NaN,9.9,0.36,NaN,reviewed,iscgem,iscgem
1,1911-10-13T02:33:12.430Z,43.391,146.181,35.0,6.91,mw,NaN,NaN,NaN,NaN,...,2022-04-25T20:33:29.975Z,"49 km E of Nemuro, Japan",earthquake,NaN,26.1,0.20,NaN,reviewed,iscgem,iscgem
2,1911-06-15T14:25:58.280Z,29.141,128.803,150.0,7.90,mw,NaN,NaN,NaN,NaN,...,2022-04-25T20:33:07.318Z,"108 km NW of Naze, Japan",earthquake,NaN,25.0,0.40,NaN,reviewed,iscgem,iscgem
3,1911-02-23T11:14:04.120Z,26.184,127.853,35.0,6.99,mw,NaN,NaN,NaN,NaN,...,2022-04-25T20:32:37.487Z,"12 km SE of Ginowan, Japan",earthquake,NaN,8.8,0.46,NaN,reviewed,iscgem,iscgem
4,1910-11-29T02:26:34.260Z,25.214,125.681,15.0,6.75,mw,NaN,NaN,NaN,NaN,...,2022-05-09T15:14:45.060Z,"59 km NE of Hirara, Japan",earthquake,NaN,11.2,0.29,NaN,reviewed,iscgemsup,iscgemsup

# Removing unwanted features

In [7]:
columns_drop=["nst","gap","dmin","rms","updated","horizontalError","magNst","status","locationSource","magSource","net","id","magType"]
earthquack_dataset_japan_final=file.drop(columns=columns_drop)
earthquack_dataset_japan_final.head()

,time,latitude,longitude,depth,mag,place,type,depthError,magError
0,1911-11-08T14:11:44.300Z,35.548,141.381,15.0,6.55,"53 km ESE of Hasaki, Japan",earthquake,9.9,0.36
1,1911-10-13T02:33:12.430Z,43.391,146.181,35.0,6.91,"49 km E of Nemuro, Japan",earthquake,26.1,0.20
2,1911-06-15T14:25:58.280Z,29.141,128.803,150.0,7.90,"108 km NW of Naze, Japan",earthquake,25.0,0.40
3,1911-02-23T11:14:04.120Z,26.184,127.853,35.0,6.99,"12 km SE of Ginowan, Japan",earthquake,8.8,0.46
4,1910-11-29T02:26:34.260Z,25.214,125.681,15.0,6.75,"59 km NE of Hirara, Japan",earthquake,11.2,0.29

In [9]:
earthquack_dataset_japan_final["Id"]= range(1, len(earthquack_dataset_japan_final) + 1)

# Final Earthqauck Dataset

In [10]:
earthquack_dataset_japan_final.head()

,time,latitude,longitude,depth,mag,place,type,depthError,magError,Id
0,1911-11-08T14:11:44.300Z,35.548,141.381,15.0,6.55,"53 km ESE of Hasaki, Japan",earthquake,9.9,0.36,1
1,1911-10-13T02:33:12.430Z,43.391,146.181,35.0,6.91,"49 km E of Nemuro, Japan",earthquake,26.1,0.20,2
2,1911-06-15T14:25:58.280Z,29.141,128.803,150.0,7.90,"108 km NW of Naze, Japan",earthquake,25.0,0.40,3
3,1911-02-23T11:14:04.120Z,26.184,127.853,35.0,6.99,"12 km SE of Ginowan, Japan",earthquake,8.8,0.46,4
4,1910-11-29T02:26:34.260Z,25.214,125.681,15.0,6.75,"59 km NE of Hirara, Japan",earthquake,11.2,0.29,5

# Final Flood Dataset Japan

In [17]:
import pandas as pd
flood_data=pd.read_csv("flood_data.csv")
flood_data.head()

,time,latitude,longitude,depth,waterLevel,place,type,depthError,levelError,Id
0,2015-01-27T01:40:00,39.687264,143.626197,1.087022,2.781687,Tokyo,flood,0.995796,0.261594,1001
1,2016-06-14T12:51:00,43.539638,135.652196,1.081412,1.767633,Nagano,flood,0.316244,0.113887,1002
2,2016-10-04T12:18:00,31.470318,142.561064,3.814679,5.842916,Nagano,flood,0.796562,0.154324,1003
3,2015-07-23T19:30:00,31.714669,131.996837,3.762764,4.703265,Osaka,flood,0.851312,0.121509,1004
4,2016-02-05T00:35:00,33.333688,131.648693,4.452105,3.318441,Osaka,flood,0.325951,0.257756,1005

# Final LANDSLIDE DATASET JAPAN

In [19]:
import pandas as pd
landside_data=pd.read_csv("landslide_data.csv")
landside_data.head()

,time,latitude,longitude,depth,displacement,place,type,depthError,dispError,Id
0,2011-08-25T09:30:00,30.245498,140.103639,9.850443,4.591617,Ishikawa,landslide,0.546217,0.066811,2001
1,2010-06-29T21:52:00,42.623599,131.595565,9.228018,2.014597,Kyoto,landslide,0.906572,0.141059,2002
2,2011-02-18T22:52:00,39.078849,143.945367,8.494714,3.440800,Kyoto,landslide,0.592233,0.140984,2003
3,2011-08-27T15:07:00,37.758824,139.647189,2.158718,1.695535,Kagoshima,landslide,0.372418,0.207821,2004
4,2011-06-13T15:56:00,30.717156,140.196810,4.413531,1.099764,Sendai,landslide,0.330006,0.132031,2005

In [22]:
import pandas as pd
shelters_data=pd.read_csv("global_shelters_dataset.csv")
shelters_data.head()

,shelter_id,name,type,latitude,longitude,country,capacity,contact,source
0,aca5acba-3784-4692-9298-bd2e84cb19bc,Unknown,yes,43.624359,7.041685,France,Unknown,NaN,OpenStreetMap
1,586a31a3-c7e7-410e-93a8-6326d68e2e7c,Unknown,shelter,48.930544,8.172950,France,Unknown,NaN,OpenStreetMap
2,e14a69a9-646c-4eb3-8b5a-cdbce8022197,Clinique Psychiatrique Notre-Dame,hospital,45.757480,4.886023,France,Unknown,+33 4 78 54 75 19,OpenStreetMap
3,78761d76-9a1b-483b-ad8d-7eb0d0c635ed,Unknown,shelter,48.882925,7.770068,France,Unknown,NaN,OpenStreetMap
4,cc44ce33-c31e-4e17-a0a9-569afbd19e46,Unknown,shelter,49.015813,7.782100,France,Unknown,NaN,OpenStreetMap